@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.markdown > * {
  all: revert;
  padding: 0px;
  margin: 0px;
  margin-top: 0px;
  line-height: unset;
  border: 0px;
  margin: 0px;
}
.markdown p {
  margin: 0px;
}